*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
}

.container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px 0;
    justify-content: center;
}

.card{
    width: 300px;
    background-color: rgb(105, 105, 105);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.5s;
    position: relative;
}

.card::after{
    content: "malumotni olish";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 200px;
    background-color: green;
    color: white;
    font-size: 22px;
    border-radius: 15px;
    display: none;
    transition: all 0.5s;
}

.card:hover::after{
    display: block;
    cursor: pointer;
    background-image: linear-gradient(45deg, green, rgb(53, 249, 4));
}

.card::after:hover{
    background-image: linear-gradient(45deg, green, rgb(53, 249, 4));
    cursor: pointer;
}


.card img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.card p{
    color: white;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
}

.card:hover{
    transform: translateY(-14px);
    
}


.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.183);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: 0.5s;
    border-radius: 8px;
}


.card:hover::before{
    opacity: 1;
}

